@{
    ViewBag.Title = "Product Detail";
}
@Html.ActionLink("Take me back to home page", "Index", "AmzHome")
<div>
    <div>
        <h3>@ViewBag.Product.ProductName</h3>
        <h4>
            @ViewBag.Product.ProductLongDescription
        </h4>
    </div>
    @*<div class="imageBig">
        <img id="productDetailLargeImage" src="@Url.Content("~/content/products/1.jpg")" alt="Product image" />
    </div>*@

    <div style="width: 100%; display:table;">
        <div style="display: table-row">
            <div style="width:800px; min-height:1000px; display:table-cell;">
                <div class="imageMedium">
                    <img id="productDetailLargeImage" src="@Url.Content("~/content/products/1.jpg")" alt="Product image" />
                </div>
            </div>
            <div style="display:table-cell;">
                <div>
                    <input id="addToCartButton" type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_96x21.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" onclick="addOneItemToCart()">
                </div>
            </div>
        </div>
    </div>
</div>
<br/>

<script>
    $(document).ready(function () {
        document.getElementById("productDetailLargeImage").src = "@Url.Content("~/content/products/{0}?{1}")".format('@ViewBag.Product.OriginalImageId', new Date().getTime());


        $("#idBuyNowTopMenu").click(function () {
            var url = '@Url.Action("ReviewCart", "AmzHome")';
            window.location.href = url;
        })

        updateCartButton();
    });

    function updateCartButton() {
        $("#shoppingCartLink").text(getCartCount());
        //$("#shoppingCartLink").addClass("cart");

    }
    function addOneItemToCart() {
        addToCart('@ViewBag.Product.ProductID', '@ViewBag.Product.UnitPrice', 1,true);
        updateCartButton();
    }
</script>
<style>

        .imageBig img{
            float: left;
            width:500px;
            height:500px;
            opacity:100;
            margin-bottom:40px;
            margin-right:10px;
        }
        .imageMedium img{
            float: left;
            width:300px;
            height:300px;
            opacity:100;
            margin-right:10px;
        }
        .imageSmall img{
            float: left;
            width:100px;
            height:100px;
            opacity:100;
            margin-bottom:40px;
            margin-right:0px;
        }
</style>
