<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")

</head>

<body>
    <style>
        .pageFooterTableCell
        {
            min-width:200px;
            max-width:200px; 
            display:table-cell; 
            border:0;
           
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SIMPLEX", "Index", "SimplexSysHome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "SimplexSysHome")</li>
                    <li>@Html.ActionLink("About", "About", "SimplexSysHome")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "SimplexSysHome")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div id="footer" class="pageFooter">
        <footer>
            <b>Simplex Sys Inc.</b><br />
            14 Fountain Lane<br />
            Jericho, NY- 11753<br />
            Phone: 516 639 8131<br />
            Email: sales@simplexsys.co<br />
                @*<div style="display:table-row">
                    <div class="pageFooterTableCell">
                    </div>
                    <div class="pageFooterTableCell">

                    </div>
                    <div class="pageFooterTableCell">
                    </div>
                    <div class="pageFooterTableCell">
                    </div>
                    <div class="pageFooterTableCell">
                    </div>
                    <div class="pageFooterTableCell">
                    </div>
                </div>*@

</footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
