<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/simplex")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
</head>
<body>
    <style>
        .cart {
            text-align: right;
            vertical-align:text-top;
            font-weight: bold;
            font-size: 10px;
            color: black;
            background-color:lightgray;
            text-decoration: underline;
            line-height: 5px;
            margin-right:5px;
            margin-bottom:5px;
            margin-left:0px;
            width:40px;
            /*display: inline-block;*/
            border:0;
            /*padding-bottom:15px;*/
        }

        .cartText {
            text-align: center;
            vertical-align:top;
            font-weight: bold;
            font-size: 14px;
            color: black;
            background-color:lightgray;
            text-decoration:none;
            line-height: 5px;
            margin-right:0px;
            padding-bottom:0px;
            min-width:10px;
            border:0;
            padding-bottom:5px;
        }

        .search-bar {
            padding-bottom: 2px;
            float: left;
        }

        .resizedTextbox {
            min-width: 250px;
            min-height: 25px;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AMZ Wholesale", "Index", "AmzHome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "AmzHome")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Index", "ProductAdmin")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
             <div class="navbar-collapse collapse">
                <div class="search-bar">
                    @*<input type="text"  class="k-textbox" name="nameSeartItems" id="idSearchItems" required="required" />*@
                    <input type="text" class="k-textbox resizedTextbox" name="nameSeartItems" id="idSearchItems" value="Search products" onfocus="if (this.value == 'Search products') { this.value = ''; }" />
                </div>
                <div class="search-bar">
                    @(Html.Kendo().Button()
                        .Name("searchProductButton")
                        .HtmlAttributes(new { type = "button" })
                        .ImageUrl(Url.Content("~/Content/shared/search.png"))
                        .Content(""))                
                </div>
                <div class="nav navbar-right">
                    <button class="cart">
                        <img src="~/Content/shared/cart.png" alt="Cart Icon" /> <div id="shoppingCartLink" class="cartText"> Cart</div>
                    </button>
                    <input id="idBuyNowTopMenu" type="image" name="submit" border="0"
                           src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                           alt="PayPal - The safer, easier way to pay online">
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AMZ Wholesale    Contact us at 716 430 7865</p>
        </footer>
    </div>

    
</body>
</html>
