@model EZFactor1.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h4>Create a new account.</h4>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="registerPageTable">
        <tr>
            <td style="width:25px"></td>
            <td >
                <fieldset>
                    <legend>Registration Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </li>
                    </ol>
                    <input type="submit" value="Register" />
                </fieldset>           
            </td>
        </tr>
    </table>
 
}

<style>
    .registerPageTable {
            border: 1px solid black;
            margin-top: 25px;
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 25px;
            background: white;
            width:125px;
        }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
