@using Kendo.Mvc.UI
@using PhenixModel.Ref;
@model ClientContactInfo

@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Phenix :</span>
        <span>516.639.8131</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@phenix.com">Support@phenix.com</a></span>
    </p>
    <p>
        <span class="label">Inquiry:</span>
        <span><a href="mailto:Marketing@phenix.com">Marketing@phenix.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        14 Fountain Lane<br />
        Jericho, NY 11753
    </p>
</section>

<section class="Leave a mesage">
    <header>
        <h3>Your contact detail:</h3>
    </header>
<div id="example">
    <div id="inputFormContainer" style="margin-left:25px; margin-top:50px;" >
        <form id="registration">
            <table class="inputFormTable">
                <tr>
                    <td>
                        <div class="editor-label"><label for="cname">Company Name:</label></div>
                        <div class="editor-field"><input type="text" id="cname" name="Company Name" class="k-textbox" required data-bind="value: companyName"/></div>
                        <div class="editor-label"><label for="fname">First Name:</label></div>
                        <div class="editor-field"><input type="text" id="fname" name="First Name" class="k-textbox" required data-bind="value: firstName" /></div>
                        <div class="editor-label"><label for="lname">Last Name:</label></div>        
                        <div class="editor-field"><input id="lname" name="Last Name" class="k-textbox" data-bind="value: lastName" /></div>
                        <div class="editor-label"><label for="email">Email:</label></div>        
                        <div class="editor-field"><input type="text" id="email" name="Email Address" class="k-textbox" required data-bind="value: emailAddress" /></div>
                        <div class="editor-label"><label for="mobile">Mobile Phone:</label></div>
                        <div class="editor-field"><input type="text" id="mobile" name="Mobile Number" class="k-textbox" data-bind="value: mobileNumber" data-role='maskedtextbox' data-mask="999-000-0000"/></div>
                        <div class="editor-label"><label for="mobile">Office Phone:</label></div>
                        <div class="editor-field"><input type="text" id="office" name="Office Number" class="k-textbox" data-bind="value: officeNumber" data-role='maskedtextbox' data-mask="999-000-0000"/></div>
                        <div class="editor-label"><label for="message">Message:</label></div>
                        @*<div class="editor-field"><input type="text" id="message" name="Message" class="k-textbox" required data-bind="value: clientMessage"/></div>*@
                        @*<div class="editor-field"><input type="textarea" id="message" name="Message" required data-bind="value: clientMessage" class="k-textbox" style="height: 200px; width: 140px/"</div>*@
                        <textarea id="message" name="Message"data-bind="value: clientMessage" class="k-textbox" style="height: 200px; width: 400px;"></textarea>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
@*                        <div class="editor-label"><input type="checkbox" id="agree" data-bind="checked: agreed" /></div>
                        <div class="editor-field"><label for="agree">I have read the licence agreement</label></div>
                        <div class="editor-field"><button data-bind="enabled: agreed, click: register" style="display: block">Register</button></div>    
*@                        
                        <div class="editor-field">
                        <table>
                            <tr>
                                <td><button data-bind="click: register" style="display: block">Send</button> </td>
                                <td><button data-bind="click: startOver" style="display: block">Start Over</button></div></td>    
                            </tr>
                        </table>
                            
                    </td>
                </tr>
            </table>
        </form>
    </div>
@*    <div class="current-state">
        <h4>Current view model state:</h4>
        <pre>
    {
        companyName: <span data-bind="text: companyName"></span>,
        firstName: <span data-bind="text: firstName"></span>,
        lastName: <span data-bind="text: lastName"></span>,
        emailAddress: <span data-bind="text: emailAddress"></span>,
        mobileNumber: <span data-bind="text: mobileNumber"></span>,
        officeNumber: <span data-bind="text: officeNumber"></span>,
        clientMessage: <span data-bind="text: clientMessage"></span>,
    }
        </pre>
    </div>*@
   
   @* <div class="confirmation" data-bind="visible: confirmed">
        Thank you for your registration, <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span>
        <br /><br />
        <li class="status">
            </li>
    </div>
   *@ 
    <script>


        function saveCompanyInfo(e) {
            e.preventDefault();

            var validator = $("#example").kendoValidator().data("kendoValidator");

            if (validator.validate()) {
                //alert("call db here");


                var company = {
                    "CompanyName": this.get("companyName"),
                    "FirstName": this.get("firstName"),
                    "LastName": this.get("lastName"),
                    "Email": this.get("emailAddress"),
                    "MobileNumber": this.get("mobileNumber"),
                    "OfficeNumber": this.get("officeNumber"),
                    "Message": this.get("clientMessage"),
                };

                var parms = {
                    jsonStringCompany: JSON.stringify(company)
                };


                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: '@Url.Action("ContactUs", "Home")',
                    async: true,
                    data: parms,
                    dataType: "json",
                    beforeSend: function (xhr) {
                    },
                    success: function (response, textStatus, jqXHR) {
                        alert(response.message);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error found during execution");

                    }
                });

                this.set("confirmed", true);
            }


        }


        $(document).ready(Init);

        function Init() {
            var viewModel = kendo.observable({
                companyName: '@Html.Raw(Json.Encode(Model.CompanyName))'.replace(/['"]+/g, ''),
                firstName: '@Html.Raw(Json.Encode(Model.FirstName))'.replace(/['"]+/g, ''),
                lastName: '@Html.Raw(Json.Encode(Model.LastName))'.replace(/['"]+/g, ''),
                emailAddress: '@Html.Raw(Json.Encode(Model.Email))'.replace(/['"]+/g, ''),
                mobileNumber: '@Html.Raw(Json.Encode(Model.MobileNumber))'.replace(/['"]+/g, ''),
                officeNumber: '@Html.Raw(Json.Encode(Model.OfficeNumber))'.replace(/['"]+/g, ''),
                clientMessage: '@Html.Raw(Json.Encode(Model.Message))'.replace(/['"]+/g, ''),
                agreed: false,
                confirmed: false,
                register: saveCompanyInfo,
                startOver: function () {
                    this.set("confirmed", false);
                    this.set("agreed", false);
                    this.set("companyName", '@Html.Raw(Json.Encode(Model.CompanyName))'.replace(/['"]+/g, ''));
                    this.set("firstName", '@Html.Raw(Json.Encode(Model.FirstName))'.replace(/['"]+/g, ''));
                    this.set("lastName", '@Html.Raw(Json.Encode(Model.LastName))'.replace(/['"]+/g, ''));
                    this.set("emailAddress", '@Html.Raw(Json.Encode(Model.Email))'.replace(/['"]+/g, ''));
                    this.set("mobileNumber", '@Html.Raw(Json.Encode(Model.MobileNumber))'.replace(/['"]+/g, ''));
                    this.set("officeNumber", '@Html.Raw(Json.Encode(Model.OfficeNumber))'.replace(/['"]+/g, ''));
                    this.set("clientMessage", '@Html.Raw(Json.Encode(Model.Message))'.replace(/['"]+/g, ''));
                }
            });




            kendo.bind($("#example"), viewModel);
        }
    </script>

    <style>
        .inputFormTable { 
            position: relative; 
            width: 700px; /* for IE 6 */
            height: 300px;
            background-color: Silver;
            border-radius: 25px; /* Gives any image a round corner */
           
        }
        .editor-label {
            margin-left: 20px;
            float: left;
            width: 200px;
        }

        .editor-field {
            margin-left: 200px;
        }

    </style>
</div>
</section>


