
@{
    ViewBag.Title = "Home Page";
}

<script>
    
</script>
<table style="width:100%; height:300px">
    <tr style="height:300px; ">
        <td style="width:10px;border:1px solid white;"></td>
        <td style="width:300px; border:1px solid white; text-align:center;">
            <section id="idCustomSoftwareDevelopment" class="imageSection1"></section>
            <h3>Custom Software Development</h3>
        </td>
        <td style="width:10px;border:1px solid white;"></td>
        <td style="width:300px; border:1px solid white;  text-align:center">
            <section id="idITInfrastructure" class="imageSection2"></section>
            <h3>IT Infrastructure</h3>
        </td>
        <td style="width:10px;border:1px solid white;"></td>
        <td style="width:300px; border:1px solid white; text-align:center">
            <section id="idSoftwareConsulting" class="imageSection3"></section>
            <h3>Software Consulting</h3>
        </td>
    </tr>
</table>
<div style="margin-left:100px; margin-top:150px;">
<h2>BUSINESSES EMPOWERED BY OUR TECHNOLOGY SOLUTIONS.</h2> <br />
</div> 

<div style="margin-left:100px; margin-top:75px;">
<h3>We combine industry expertise, scalable infrastructure and agile collaboration to provide simple technology solutions for your business.</h3><br />
</div> 




<script>

    function sayHello() {
        alert("Hello");
    }

    $("#helloBtn").click(function () {
        sayHello();
        ezfactor_welcome();
    });

    $("#idITInfrastructure").click(function () {
        
//        $.ajax({
//            type: 'POST',
//            url: '@Url.Action("Index", "ITInfrastructure")',
//            data: null,
//            complete: function () {
//                    }
//                
//            });
        window.location.href = '@Url.Action("Index","ITInfrastructure")'
     });

    $("#idCustomSoftwareDevelopment").click(function () {
        window.location.href = '@Url.Action("Index","CustomSoftware")'
    });

    $("#idSoftwareConsulting").click(function () {
        window.location.href = '@Url.Action("Index","SoftwareConsulting")'
    });

    

</script>
<style>

    #menu h2 {
        font-size: 1em;
        text-transform: uppercase;
        padding: 5px 10px;
    }
    #template img {
        margin: 5px 20px 0 0;
        float: left;
    }
    #template {
        width: 380px;
    }
    #template ol {
        float: left;
        margin: 0;
        padding: 10px 10px 0 10px;
    }
    #template:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    #template .k-button {
        float: left;
        clear: left;
        margin: 5px 0 5px 12px;
    }

    .imageSection1 { 
        position:relative;
        width: 100%; /* for IE 6 */
        height: 100%;
        /*background: url(@Url.Content("~/Images/Vista.gif")) no-repeat;*/
        background: url(@Url.Content("~/Images/CustomSoftwareSolution.jpg")) no-repeat center; 
        background-size: 100%;
        /*border-radius: 25px;  Gives any image a round corner */
        /*border-bottom-left-radius: 10px; */
        cursor: pointer;
   
    }

    .setionText {
       text-align: center;
    }

    .textSectionOne  {
        position: relative;
        display: inline-block;
        margin-top: 50px; /* Use this to move text on the image */
        margin-right: 40px; /* Use this to move text on the image */
        color:red; 
        float: right; /* Use this to move text on the image */
       
    }

    .imageSection2 { 
        position: relative; 
        width: 100%; /* for IE 6 */
        height: 100%;
        /*background: url(@Url.Content("~/Images/Office2007.gif")) no-repeat center;*/
        background: url(@Url.Content("~/Images/ITInfrastructure.jpg")) no-repeat center;
        background-size:100%;
        /*border-radius: 25px;  Gives any image a round corner */
        cursor: pointer;
    }

    .textSectionTwo  {
        position: relative;
        display: inline-block;
        margin-top: 50px; /* Use this to move text on the image */
        margin-right: 40px; /* Use this to move text on the image */
        color:red; 
        float: right; /* Use this to move text on the image */
       
    }


    .imageSection3 { 
        position: relative; 
        width: 100%; /* for IE 6 */
        height: 100%;
        /*background: url(@Url.Content("~/Images/Office2010Silver.gif")) no-repeat;*/
        background: url(@Url.Content("~/Images/SoftwareConsulting.jpg")) no-repeat center;
        background-size:100%;
        /*border-radius: 25px;  Gives any image a round corner */
        cursor:pointer;
    }

    .textSectionThree  {
        position: relative;
        display: inline-block;
        margin-top: 50px; /* Use this to move text on the image */
        margin-right: 40px; /* Use this to move text on the image */
        color:red; 
        float: right; /* Use this to move text on the image */
       
    }

    

</style>