@using Kendo.Mvc.UI
@using PhenixModel.Ref;
@model ClientContactInfo

@{
    ViewBag.Title = "Contact";
}



<div id="example">



    <div id="inputFormContainer" style="margin-left:25px; margin-top:10px;">
        <form id="registration">
            <table class="inputFormTable">
                <tr>
                    <td>
                        <h2 class="bodyMainMessage1">Please fill in your contact detail below. Someone will get back to you soon.</h2> 
                        <div class="editor-label"><label for="cname">Company Name:</label></div>
                        <div class="editor-field"><input type="text" id="cname" name="Company Name" class="k-textbox" required data-bind="value: companyName" /></div>
                        <div class="editor-label"><label for="fname">First Name:</label></div>
                        <div class="editor-field"><input type="text" id="fname" name="First Name" class="k-textbox" required data-bind="value: firstName" /></div>
                        <div class="editor-label"><label for="lname">Last Name:</label></div>
                        <div class="editor-field"><input id="lname" name="Last Name" class="k-textbox" data-bind="value: lastName" /></div>
                        <div class="editor-label"><label for="email">Email:</label></div>
                        <div class="editor-field"><input type="text" id="email" name="Email Address" class="k-textbox" required data-bind="value: emailAddress" /></div>
                        <div class="editor-label"><label for="mobile">Mobile Phone:</label></div>
                        <div class="editor-field"><input type="text" id="mobile" name="Mobile Number" class="k-textbox" data-bind="value: mobileNumber" data-role='maskedtextbox' data-mask="999-000-0000" /></div>
                        <div class="editor-label"><label for="mobile">Office Phone:</label></div>
                        <div class="editor-field"><input type="text" id="office" name="Office Number" class="k-textbox" data-bind="value: officeNumber" data-role='maskedtextbox' data-mask="999-000-0000" /></div>
                        <div class="editor-label"><label for="message">Message:</label></div>
                        @*<div class="editor-field"><input type="text" id="message" name="Message" class="k-textbox" required data-bind="value: clientMessage"/></div>*@
                        @*<div class="editor-field"><input type="textarea" id="message" name="Message" required data-bind="value: clientMessage" class="k-textbox" style="height: 200px; width: 140px/"</div>*@
                        <textarea id="message" name="Message" data-bind="value: clientMessage" class="k-textbox" style="height: 200px; width: 400px;"></textarea>
                        <br />
                        <br />
                        <div style="display:table; margin-left: 216px;">
                            <div style="display:table-row">
                                <div style="display:table-cell; padding-right:5px;">
                                    <button data-bind="click: register" class="sendButton">Send</button>
                                </div>
                                <div style="display:table-cell;">
                                    <button data-bind="click: startOver" class="button_StartOver">Start Over</button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </td>
                </tr>
            </table>

        </form>
    </div>
    @*    <div class="current-state">
            <h4>Current view model state:</h4>
            <pre>
        {
            companyName: <span data-bind="text: companyName"></span>,
            firstName: <span data-bind="text: firstName"></span>,
            lastName: <span data-bind="text: lastName"></span>,
            emailAddress: <span data-bind="text: emailAddress"></span>,
            mobileNumber: <span data-bind="text: mobileNumber"></span>,
            officeNumber: <span data-bind="text: officeNumber"></span>,
            clientMessage: <span data-bind="text: clientMessage"></span>,
        }
            </pre>
        </div>*@

    @* <div class="confirmation" data-bind="visible: confirmed">
            Thank you for your registration, <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span>
            <br /><br />
            <li class="status">
                </li>
        </div>
    *@
    <script>


        function saveCompanyInfo(e) {
            e.preventDefault();

            var validator = $("#example").kendoValidator().data("kendoValidator");

            if (validator.validate()) {
                //alert("call db here");


                var company = {
                    "CompanyName": this.get("companyName"),
                    "FirstName": this.get("firstName"),
                    "LastName": this.get("lastName"),
                    "Email": this.get("emailAddress"),
                    "MobileNumber": this.get("mobileNumber"),
                    "OfficeNumber": this.get("officeNumber"),
                    "Message": this.get("clientMessage"),
                };

                var parms = {
                    jsonStringCompany: JSON.stringify(company)
                };


                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: '@Url.Action("ContactUs", "SimplexSysHome")',
                    async: true,
                    data: parms,
                    dataType: "json",
                    beforeSend: function (xhr) {
                    },
                    success: function (response, textStatus, jqXHR) {
                        alert(response.message);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error found during execution");

                    }
                });

                this.set("confirmed", true);
            }


        }


        $(document).ready(Init);

        function Init() {
            var viewModel = kendo.observable({
                companyName: '@Html.Raw(Json.Encode(Model.CompanyName))'.replace(/['"]+/g, ''),
                firstName: '@Html.Raw(Json.Encode(Model.FirstName))'.replace(/['"]+/g, ''),
                lastName: '@Html.Raw(Json.Encode(Model.LastName))'.replace(/['"]+/g, ''),
                emailAddress: '@Html.Raw(Json.Encode(Model.Email))'.replace(/['"]+/g, ''),
                mobileNumber: '@Html.Raw(Json.Encode(Model.MobileNumber))'.replace(/['"]+/g, ''),
                officeNumber: '@Html.Raw(Json.Encode(Model.OfficeNumber))'.replace(/['"]+/g, ''),
                clientMessage: '@Html.Raw(Json.Encode(Model.Message))'.replace(/['"]+/g, ''),
                agreed: false,
                confirmed: false,
                register: saveCompanyInfo,
                startOver: function () {
                    this.set("confirmed", false);
                    this.set("agreed", false);
                    this.set("companyName", '@Html.Raw(Json.Encode(Model.CompanyName))'.replace(/['"]+/g, ''));
                    this.set("firstName", '@Html.Raw(Json.Encode(Model.FirstName))'.replace(/['"]+/g, ''));
                    this.set("lastName", '@Html.Raw(Json.Encode(Model.LastName))'.replace(/['"]+/g, ''));
                    this.set("emailAddress", '@Html.Raw(Json.Encode(Model.Email))'.replace(/['"]+/g, ''));
                    this.set("mobileNumber", '@Html.Raw(Json.Encode(Model.MobileNumber))'.replace(/['"]+/g, ''));
                    this.set("officeNumber", '@Html.Raw(Json.Encode(Model.OfficeNumber))'.replace(/['"]+/g, ''));
                    this.set("clientMessage", '@Html.Raw(Json.Encode(Model.Message))'.replace(/['"]+/g, ''));
                }
            });




            kendo.bind($("#example"), viewModel);
        }
    </script>

    <style>
        .inputFormTable {
            position: relative;
            width: 700px; /* for IE 6 */
            min-height: 500px;
            border-radius: 25px; /* Gives any image a round corner */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100 */
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

        }

        .editor-label {
            margin-left: 20px;
            margin-bottom:2px;
            float: left;
            width: 200px;
            text-align:right;
            color: #244062;
            text-shadow: 0px 0px 0px #244062;
            font-size: 12px;
            font-family:Corbel;
            font-weight:bold;

        }

        .editor-field {
            margin-left: 100px;
        
        }

        .bodyMainMessage1{
            text-align:center;
            color: #244062;
            text-shadow: 0px 0px 0px #244062;
            font-size: 18px;
            font-family:Corbel;
            font-weight:bold;
        }

        
        .sendButton{
            border:1px solid #7eb9d0; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
             background-color: #a7cfdf; background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
             background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
             background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
             background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
             background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
             background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
        }


        .sendButton:hover{
             border:1px solid #5ca6c4;
             background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
             background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
             background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
             background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
             background-image: -o-linear-gradient(top, #82bbd1, #193b61);
             background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
        }

        .button_StartOver{
            border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
             background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
             background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
             background-image: -moz-linear-gradient(top, #a90329, #6d0019);
             background-image: -ms-linear-gradient(top, #a90329, #6d0019);
             background-image: -o-linear-gradient(top, #a90329, #6d0019);
             background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
        }


        .button_StartOver:hover{
             border:1px solid #450111;
             background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
             background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
             background-image: -moz-linear-gradient(top, #77021d, #3a000d);
             background-image: -ms-linear-gradient(top, #77021d, #3a000d);
             background-image: -o-linear-gradient(top, #77021d, #3a000d);
             background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
        }


        body {
        padding-top: 150px;
        padding-bottom: 20px;
        background-image: url(../Content/pageBackgroundImage2.jpg);
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    </style>
</div>


