@{
    ViewBag.Title = "Simplex";
}

<div>
    <h2 class="bodyMainMessage">BUSINESSES EMPOWERED BY OUR TECHNOLOGY SOLUTIONS.</h2> <br />
</div>

<div>
    <h3  class="bodyMainMessage1">We combine industry expertise, scalable infrastructure and agile collaboration to provide simple technology solutions for your business.</h3><br />
</div>

<div style="display:table;">
    <div style="display:table-row">
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCell">
            <dl>
                <dd class="bodySectionHeaderText">Software Development</dd>
                <dt><img id="idCustomSoftwareDevelopment" src="@Url.Content("~/Images/CustomSoftwareSolution.jpg")" />
                </dt>
            </dl>
       </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCell">
            <dl>
                <dd class="bodySectionHeaderText">IT Infrastructure</dd>
                <dt>
                    <img id="idITInfrastructure" src="@Url.Content("~/Images/ITInfrastructure.jpg")" />
                </dt>
            </dl>
        </div>
        <div class="mainBodyImageCellFiller">
        </div>
        <div class="mainBodyImageCell">
            <dl>
                <dd class="bodySectionHeaderText">Software Consulting</dd>
                <dt>
                    <img id="idSoftwareConsulting" src="@Url.Content("~/Images/SoftwareConsulting.jpg")" />
                </dt>
            </dl>
        </div>



    </div>
</div>

<script>

    $("#idITInfrastructure").click(function () {
        window.location.href = '@Url.Action("ITInfrastructure", "SimplexSysHome")'
     });

    $("#idCustomSoftwareDevelopment").click(function () {
        window.location.href = '@Url.Action("CustomSoftware", "SimplexSysHome")'
    });

    $("#idSoftwareConsulting").click(function () {
        window.location.href = '@Url.Action("SoftwareConsulting", "SimplexSysHome")'
    });



</script>
<style>
    .mainBodyImageCell
    {
        min-width:250px;
        max-width:250px; 
        display:table-cell; 
        border:0;
           
    }
    .mainBodyImageCellFiller
    {
        min-width:25px;
        max-width:25px; 
        display:table-cell; 
        border:0;
    }
    .mainBodyImageCell img{
        width:200px;
        height:200px;
        opacity:100;
        position:relative;
        border-radius:15px;
        cursor: pointer;
        

        
    }
    .mainBodyImageCell img:hover{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);

    }

    .bodySectionHeaderText{
      color: #ffffff;
      text-shadow: 0px 0px 0px #ffffff;
      font-size: 15px;
      font-family:Corbel;
      font-weight:bold;
      
    }

  
</style>

