
@{
    ViewBag.Title = "Job Ticket";
}

<h2>Add Job Ticket</h2>

<div style="display:table;">
    <div style="display:table-row">
        <div id="idProductUploadForm" style="min-width:900px; display:table-cell;">
            <dl>
                <dt>
                        Client:
                </dt>
                <dd>
                    @(Html.Kendo().DropDownList()
                      .Name("clients")
                      .DataTextField("ClientName")
                      .DataValueField("ClientID")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetClientNames", "MyClients");
                          });
                      })
                      .Events(e =>
                        {
                            e.Select("onSelectClientName");
                        })

                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                </dd>
                <dt>
                    Job Date:
                </dt>
                <dd>
                    @(Html.Kendo().DatePicker()
                      .Name("datepickerJobDate")
                      .Value(DateTime.Today)
                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                </dd>
                <dt>
                    Delivery Date:
                </dt>
                <dd>
                    @(Html.Kendo().DatePicker()
                      .Name("datepickerDeliveryDate")
                      .Value(DateTime.Today)
                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                </dd>

                <dt>
                    Quantity:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idQuantity" name="Quantity" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    Weight:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idWeight" name="Weight" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    Base Pickup Charge:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idBasePickupCharge" name="Base PU" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    Milage:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idMilage" name="Milage" data-role='maskedtextbox'/>
                </dd>
                <dt>
                    Toll:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idToll" name="Toll" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    Fuel Surcharge:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idFuelSurcharge" name="Fuel Charge" data-role='maskedtextbox' required />
                </dd>

                <dt>
                    Waiting Time:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idWaitingTime" name="Wait Time" data-role='maskedtextbox' />
                </dd>
                <dt>
                    Misc. Service:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idMiscService" name="Misc. Service" data-role='maskedtextbox' />
                </dd>

                <dt>
                    Pickup From:
                </dt>
                <dd>
                    @(Html.Kendo().DropDownList()
                      .Name("pickUpLocation")
                      .DataTextField("Location")
                      .DataValueField("LocationID")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetPickupAndDeliveryLocation", "ReferenceData");
                          });
                      })
                      .Events(e =>
                        {
                            e.Select("onSelectPickupFrom");
                        })

                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                    <textarea id="idPickupFrom" name="Pickup From" class="k-textbox addressArea" rows="4" cols="20" required></textarea>
                </dd>
                <dt>
                    Deliver To:
                </dt>
                <dd>
                    @(Html.Kendo().DropDownList()
                      .Name("deliveryLocation")
                      .DataTextField("Location")
                      .DataValueField("LocationID")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetPickupAndDeliveryLocation", "ReferenceData");
                          });
                      })
                      .Events(e =>
                        {
                            e.Select("onSelectDeliverTo");
                        })

                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                    <textarea id="idDeliverTo" name="Deliver To" class="k-textbox addressArea" rows="4" cols="20" required></textarea>
                </dd>
                <dt>
                    Instructions:
                </dt>
                <dd>
                    <input type="text" class="k-textbox instruction" id="idInstruction" name="instruction"  />
                </dd>
                <dt>
                    Service Type:
                </dt>
                <dd>
                    @(Html.Kendo().DropDownList()
                      .Name("serviceTypeDDL")
                      .DataTextField("Name")
                      .DataValueField("ServiceTypeID")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetSeviceTypes", "ReferenceData");
                          });
                      })
                      .Events(e =>
                        {
                            e.Select("onSelectServiceType");
                        })

                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                    
                </dd>
                <dt>
                    Delivery Agent:
                </dt>
                <dd>
                    @(Html.Kendo().DropDownList()
                      .Name("deliveryAgentDDL")
                      .DataTextField("Name")
                      .DataValueField("DeliveryAgentID")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetDeliveryAgent", "ReferenceData");
                          });
                      })
                      .Events(e =>
                        {
                            e.Select("onSelectDeliveryAgent");
                        })

                      .HtmlAttributes(new { style = "width: 250px;" })
                    )

                </dd>
                <dt>
                    POD:
                </dt>
                <dd>
                    <input type="text" class="k-textbox instruction" id="idPOD" name="POD" />
                </dd>
                <dt>
                    Comments:
                </dt>
                <dd>
                    <input type="text" class="k-textbox instruction" id="idComment" name="Comment" />
                </dd>

                <dt>
                    &nbsp;
                </dt>
                <dd>
                    <input id="btn_SaveJobTicket" type="submit" class="k-button" value="Add Job Ticket" />
                </dd>

            </dl>
        </div>
    </div>
</div>





<script>

    $(document).ready(function () {
        validateUploadForm();

    });


    function validateUploadForm() {


        $("#btn_SaveJobTicket").bind("click", function () {
            var validator = $("#idProductUploadForm").kendoValidator().data("kendoValidator");
            if (!validator.validate()) {
                return false;
            }
            alert("Save data here");


        });
    }

    function onSelectClientName(e) {
        alert(e.item[0].innerText);
    }
    function onSelectPickupFrom(e) {
        //alert(e.item[0].innerText);
        document.getElementById("idPickupFrom").value = e.item[0].innerText;
    }
    function onSelectDeliverTo(e) {
        //alert(e.item[0].innerText);
        document.getElementById("idDeliverTo").value = e.item[0].innerText;
    }
    function onSelectServiceType(e) {
        //alert(e.item[0].innerText);
        //document.getElementById("idPickupFrom").value = e.item[0].innerText;
    }
    function onSelectDeliveryAgent(e) {
        //alert(e.item[0].innerText);
        //document.getElementById("idPickupFrom").value = e.item[0].innerText;
    }


</script>
<style>
        .instruction{
        min-width:250px; 
        min-height:5px;
    }
        .addressArea{
        min-width:250px; 
        max-height:50px;
    }

</style>